@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f4f1ec;
}
.container {
  width: 100vw;
  max-width: 1300px;
  margin: 0 auto;
  min-height: 83vh;
}

.svg-container {
  position: absolute;
  width: 100vw;
  max-width: 1300px;
  top: 2rem;
}
.logo {
  margin: 0 auto;
  display: flex;
  width: 6rem;
}
.logo img {
  width: 100%;
}
nav a,
footer a {
  text-transform: uppercase;
  display: block;
  position: fixed;
  font-size: 1.3rem;
  color: rgb(45, 45, 45);
  transition: transform 0.7s;
}

nav a:hover,
footer a:hover {
  font-size: 1.4rem;
}
.top-left {
  top: 2rem;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-left: 2rem;
}

.top-right {
  top: 2rem;
  right: 0;
  writing-mode: vertical-lr;
  margin-right: 2rem;
}

.bottom-left {
  bottom: 2rem;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-left: 2rem;
}

.bottom-right {
  bottom: 2rem;
  right: 0;
  writing-mode: vertical-lr;
  margin-right: 2rem;
}

a {
  text-decoration: none;
}
.content {
  width: 60%;
  margin: 0 auto;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  margin: 0 auto 0.5rem;
  color: rgb(45, 45, 45);
}

.content p {
  font-size: 2.2rem;
  text-align: justify;
  margin: 2rem auto;
  color: rgb(45, 45, 45);
}

.image {
  width: 250px;
  margin: 20vh auto 2rem;
}

.image img {
  width: 100%;
}

.project-container {
  width: 60%;
  margin: 8rem auto;
}

h2 {
  font-size: 3rem;
  color: rgb(45, 45, 45);
  text-align: center;
}

h3 {
  font-size: 2rem;
  color: rgb(45, 45, 45);
}

p {
  font-size: 1.8rem;
  color: rgb(45, 45, 45);
  text-align: justify;
}

li {
  font-size: 1.5rem;
  list-style: lower-greek;
  color: rgb(45, 45, 45);
}

.buttons {
  margin-top: 2rem;
}

a.live-link {
  border-radius: 3px;
  border: 2px solid palevioletred;
  background-color: palevioletred;
  margin: 0 1em;
  padding: 0.25rem 1rem;
  color: rgb(45, 45, 45);
  font-size: 1.4rem;
}

a.github {
  font-size: 1.4rem;
  border-radius: 3px;
  background: transparent;
  border: 2px solid palevioletred;
  padding: 0.25rem 1rem;
  color: rgb(45, 45, 45);
}

.about-container {
  width: 60%;
  margin: 8rem auto;
}

.about-container p {
  line-height: 2.5rem;
  font-size: 1.8rem;
}

.interest-container {
  width: 60%;
  margin: 8rem auto;
}
u {
  color: palevioletred;
}
.contact {
  position: fixed;
  bottom: 0;
  left: 20%;
  max-width: 1300px;
  width: 60%;
  background-color: #f4f1ec;
}
ul.socials {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 0;
}

ul.socials li {
  list-style: none;
  width: 2rem;
}

ul.socials li a {
  width: 2rem;
}

ul.socials img {
  width: 100%;
  height: 4rem;
}

/* Media queries */
@media screen and (max-width: 570px) {
  p {
    font-size: 1.8rem;
  }
  h1,
  div.title {
    font-size: 2.5rem;
  }
  .content p {
    font-size: 1.8rem;
  }
  .contact {
    width: 70%;
    left: 15%;
  }
  ul.socials {
    width: 100%;
    justify-content: space-between;
  }
  .project-container {
    width: 70%;
  }
  .about-container {
    width: 70%;
  }
  .interest-container {
    width: 70%;
  }
  .about-container p {
    text-align: justify;
  }
  .content {
    width: 70%;
  }
}
@media screen and (max-width: 375px) {
  h1,
  div.title {
    font-size: 2rem;
  }
  .content p {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 330px) {
  h1,
  div.title {
    font-size: 1.5rem;
  }
  .content p {
    font-size: 1.3rem;
  }
}
